html, body {
    font-family: sans-serif;
    background-color: #fff;
    padding: 0;
    margin: 0;
    height: 100%;
    }

.flex {
    display: flex; 
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.container {
    flex-direction: column; 
    height: 100%;  
}

.header-section {
    height: 5rem;
    padding: 0;
    margin: 0;
    width: 100%;
}

.main-section {

    flex-grow: 1;
    flex-direction: column;
    /* border: 1px solid black; */
}

.navbar-fixed {
   text-align: center;
   position: fixed;
   height: 100%;
}

.navbar-left {
    writing-mode: vertical-lr; 
    -webkit-writing-mode: vertical-lr; 
    -ms-writing-mode: vertical-lr;
    transform: rotate(-180deg);

}

.navbar-right {
    writing-mode: vertical-lr; 
    -webkit-writing-mode: vertical-lr; 
    -ms-writing-mode: vertical-lr;
    right: 0;
}


.hero-area {

    padding: 10vw;
    /* border: 1px solid red; */
    flex-grow: 1;
    text-align: center;
    

}


.hero-area h1 {
    font-family: Anaheim;
    font-weight: 100;
    font-size: 3rem;

}
.arrow-area{
    
    /* border: 1px solid green; */
    padding: 1rem;
    height: 5rem;
    display: flex;
    align-items: flex-end;
}

.navlink {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    /* border-left: 0.3rem magenta solid; */
}

.navlink-left:hover {
    border-left: 0.3rem rgb(255, 0, 191) solid;
}

.navlink-right:hover {
    border-left: 0.3rem rgb(0, 255, 34) solid;
}

.navlink-arrow {
    display: block;
}

.navlink-arrow:hover::after {
    content: "v";
    display: block;
    text-align: center;
    color: cyan;
}